.logo{
    width: 80px;
}
.ancord:hover{
    color: rgb(214, 52, 52);
    scale: 1.1;
    transition: .3s;
}
.ancord{
    margin: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}