header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 40px;
    position: absolute;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    header img{
        width: 70px;
        height: 5.1vh;
    }
}
